h1{
    color: gold;
    font-weight: bold;
    font-family: arial black;
    font-size: 200%;
}
h2,h4,h5,h6{
    font-family: arial black;
    font-size: 100%;
}
h3{
    font-size: 200%;
    font-weight: bold;
}

p{
    color: white;
    text-align: left;
    font-size: 150%;
    
}
.video{
    width: 800px;
    height: 500px;

}
.video2{
    width: 500px;
    height: 400px;

}
.imagen200 {
    width: 300px;
    height: 300px;
}

.imagen500{
    width: 800px;
    height: 500px;
}

.imagenT {
    width: 1000px;
    height: 150px;
    
}

.imagenV {
    width: 700px;
    height: 500px;
}
.imagenD{
    width: 210px;
    height: 250px;
}