h1{
    color: gold;
    font-weight: bold;
    font-family: arial black;
    font-size: 200%;
}
h2,h4,h5,h6{
    font-family: arial black;
    font-size: 100%;
}
h3{
    font-size: 200%;
    font-weight: bold;
}

p{
    color: white;
    text-align: left;
    font-size: 150%;
    
}
.video{
    width: 800px;
    height: 500px;

}
.imagenI {
    width: 500px;
    height: 300px;
}
.video2{
    width: 500px;
    height: 400px;
}
.imagen200 {
    width: 300px;
    height: 300px;
}

.imagen500{
    width: 800px;
    height: 500px;
}

.imagenT {
    width: 1000px;
    height: 150px;
    
}

.imagenV {
    width: 700px;
    height: 500px;
}
.imagenD{
    width: 210px;
    height: 250px;
}
.imagenM {
    width: 210px;
    height: 200px;
}
table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;    
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; 
}

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; color: #039; 
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}
input {
    font-family : inherit;
    font-size   : 100%;
}