* {
    /*border-color: blue;
    border-style: solid;
    border-radius: 50%;*/
}

#menuPrincipal {
    width: 20%;
    border-width: 1px;
    float: left;
    background-color: red;
}

#contenido {
    width: 75%;
    margin-left: 10px;
    padding: 5px 20px;
    border-width: 3px;
    background-color: darkgrey;
    float: left;
    text-align: center;
}

.imagen200 {
    width: 200px;
    height: 200px;
}

.imagenT {
    width: 1000px;
    height: 150px;
    
}

#cabezera {
    border-width: 20px; 
    text-align: center;
}
#pie{
    clear: both;
    text-align: center;
    background-color: yellow;
}

#body {
    background-image: url("../images/premierlogo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}