#menuPrincipal {
    width: 20%;
    border-width: 2px;
    border-color: black;
    float: left;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    text-align: center;
}

#contenido {
    width: 75%;
    margin-left: 10px;
    padding: 5px 20px;
    border-width: 3px;
    background-color: #666;
    float: left;
    text-align: center;
}

.imagen200 {
    width: 200px;
    height: 200px;
}

.imagenT {
    width: 1000px;
    height: 150px;
    
}

#cabezera {
    border-width: 20px; 
    text-align: center;
    background-color: black;
}
#pie{
    clear: both;
    text-align: center;
    background-color: brown;
    padding: .1em;
}

#body {
    background-image: url("../images/premierlogo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}